.createQuiz {
    text-align: center;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    outline:none;
    border:none;
  }
  .modal input{
    width:100%;
    height:8vh;
    box-shadow: 0px 0px 25px 0px #00000026;
    padding:10px;
    color:#9F9F9F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    background-color: white;
  }
  .modal label{
    color:#9F9F9F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
       
  }
  .typequiz{
    display:flex;
    justify-content: space-between;
    margin-top:10px;
    margin-bottom:10px;
  }
  .typequiz button{
    box-shadow: 0px 0px 25px 0px #00000026;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    outline:none;
    border:none;
    
    width:30%;
    cursor:pointer;
    border-radius: 5px;
    
    

  }
  


  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

  }
  .buttonContainer button{
    border-radius: 5px;
    outline:none;
    border:none;
    width:40%;
    height:6vh;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;


  }
  .cancelBtn{
    color: #474444;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px #00000040;

  }
  .cntdBtn{
    color:white;
    background-color: #60B84B;
  }
  .active {
    background-color: #4caf50;
    color:#ffffff;

  }
  .questionContainer {
    margin-top: 20px;
  }
  
  .questionNavigation {
    display: flex;
    margin-bottom: 10px;
  }
  
  
  .questionNavItem button {
    padding: 5px 10px;
    cursor: pointer;
    border:none;
    outline:none;
    
    
    
    

  }
  
  .questionNavItem button.activeBtn{
    background-color: #ffffff;
    color: #9F9F9F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    width:50px;
    height:50px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #0000001F;
  }
  

  .questionNavItem{
    display:flex;

  }
  .addQuestionBtn{
    border:none;
   outline:none;
   background:transparent;
   font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color:#9F9F9F;
  }
  .deleteQuestionBtn{
   position:relative;
   width:15px;
   height:25px;
   right:36px;
   border:none;
   outline:none;
   background:transparent;
   border-radius:50%;
   box-shadow: none;

  }
  .questionContainer input[type="text"]{
    box-shadow:0px 0px 10px 0px #00000026;
    border-radius: 5px;
    width:100%;
    height:7vh;

  }
  .optionContainer{
    display:flex;


  }
  .optionContainer button{
    width:40%;
    height:5vh;
    border:none;
    outline:none;
    box-shadow: 0px 0px 10px 0px #00000026;
    border-radius: 5px;
    background: #ffffff;
    margin-left: 20px;
    padding: 5px;
    color: #9F9F9F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
    cursor:pointer;
    
  }
  
  .optionContainer input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    width:40%;
    height:5vh;
    border-radius:5px;
    margin-top:10px;
    box-shadow: 0px 0px 10px 0px #00000026;
  }
  
  .optionContainer input[type="radio"] {
   
    width:13px;
    height:100%;
    margin-bottom: 10px;
    color:#9F9F9F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    box-shadow: none;
    accent-color: green;
    

    
   
    

  }
  .optionContainer input[type="radio"]:checked ~input{
    background-color: #60B84B;
  }
  
  .optionTypeContainer{
    display:flex;
    justify-content: space-around;
    

  }
  
  
  .optionTypeContainer input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    

  }
  
  .optionTypeContainer input[type="radio"] {
   
    width:13px;
    height:100%;
    box-shadow: none;
    margin-bottom: 10px;
    color:#9F9F9F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    
    


  }

  .deleteIcon{
    display:block;
    align-items: center;
    margin:18px;
    
  }
  .imagePreview{
    width:30px;
    height:5vh;
  }
  .shareQuiz{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .shareQuiz h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
  }
  .shareQuiz p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    background-color:#EDEDED;
    width:100%;
    height:4vh;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

  }
  .shareQuiz button{
    border-radius: 5px;
    outline:none;
    border:none;
    width:40%;
    height:6vh;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;  
    color:white;
    background-color: #60B84B;
    
  }
.shareQuiz button:active{
  
    background-color: #4caf50;
    color:#ffffff;

  
}