.activeContainer{
    margin:30px;

}
.activeContainer h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    color:#5076FF;
}
table{
    border-collapse: collapse;
    width:70%;
    margin: auto;
   


}
tr{
    border-radius: 5px;
}
th,td{
    text-align: left;
    padding: 10px;
    
    
}
tr:nth-child(even){
    background-color: #B3C4FF;
    
}
th{
    background-color: #5076FF;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
td{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color:black;
}
td:first-child,
th:first-child{
    border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child{
    border-radius: 0 10px 10px 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    outline:none;
    border:none;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    white-space: pre-line;
    margin: 20px 0 20px 0;
  }
  button{
    border-radius: 5px;
    outline:none;
    border:none;
    width:40%;
    height:6vh;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left:20px;
    align-items: center;
  }
  .deleteBtn{
    color:white;
    background-color: #60B84B;
  }
  .cancelBtn{
    color: #474444;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px #00000040;
  }